div.titleContainer {
    margin: auto;
    background: white;
    border-radius: 25px;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 2px 2px 10px rgb(77, 37, 4);
    margin-top: 1rem;
    width: 15rem;
}

div.card {
    margin: 3rem auto;
    border-radius: 20px;
    padding-top: 1rem;
}

.cardImg {
    max-width: 25rem;
    margin: auto;
    padding-top: 1rem;
}